/*HomePage Header-----------------------*/

header {
    background-color:white;
    background-position: center top;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size:160%;
    position: relative;  
}

strong {
    color:gold;
}

/*------------------------------------*/

/*Overall body format and links --------*/

body {
    background-color:rgba(222, 227, 231, 0.267);
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
}
a:link {
    font-style:bold;
    color:black;
    text-decoration:none;    
    transition-property: border-bottom;
    border-bottom: fit-content;
    transition: ease-out;
    transition-duration: 0.5s;
    border-bottom: 2px solid transparent; 
} 

a:hover {
    font-size:110%;
    border-bottom: 2px solid gold;
}

/*--------------------------------------*/

/*Destinations FlexBox------------------*/
h1,h2, h3 {
    font-family: 'Yeseva One', cursive;   
}
h4 {
    font-family:'Quicksand',sans-serif;
    color: yellowgreen;
}


/*Navigation Bar*---------------------*/
div.Navigation {
    display:flex;
    flex-direction:row;
    justify-content: center;
    
}
div.Button {
    width: calc(60%-20px);
    font-size: large;
    text-align:center;
    background-color:whitesmoke;
    margin-left: 5px;
    padding: 4px;
    justify-content: space-around; 
    border-radius: 0.5em;
    height:1.50em;
}

div.homepagebutton {
    width: calc(60%-20px);
    font-size: large;
    text-align:center;
    background-color:transparent;
    border: 2px solid whitesmoke;
    padding: 4px;
    justify-content: space-around; 
    border-radius: 0.6em;
    height:1.50em;
    width: fit-content;
    
}
div.homepagebutton:hover {
    background-color: rgba(245, 245, 245, 0.678);
    transition-duration: 0.4s;
    transform-origin: right;
    opacity:0.5em;

}
 #home {
    color:white;
 }

 #home:hover {
    color:black;
 }
/*------------------------------------*/

/*Drop-down menu for Navigation Bar*--*/
div.Button div.destidropdown a {
    display: none;
    text-decoration: none;
    padding: 2px 2px;
    background-color:whitesmoke
}

div.Button:hover div.destidropdown a {
    display: block;
}
/*---------------------------------------------------------*/

/*Section of HomePage that Advertises Destinations is Here*/

div.Destinations {
    background-position: center;
    margin:10px;
    padding-top:150px;
    padding-bottom: 150px;
    padding-left: 30px;
    padding-right: 30px;
    background-image:url(Images/destinationsBanner_small.jpg);
    background-size: cover;
    border-radius: 1em;
    width:90%;
    opacity:.7;
}

div.Destinations:hover {
opacity: 1;
}

/*------------------------------------------------------*/

/*Section of HomePage that Advertises Gallery is Here */
div.Gallery {
    background-position: center;
    margin:10px;
    padding-top:150px;
    padding-bottom: 150px;
    padding-left: 30px;
    padding-right: 30px;
    background-image:url(Images/GalleryBanner_small.jpg);
    background-size: cover;
    border-radius: 1em;
    width:90%;
    opacity:.7; 
}
div.Gallery:hover {
    opacity:1;
}

/*------------------------------------------------------*/

/*Section of HomePage that Advertises World Map is Here */
div.WorldMap {
    background-position: center;
    margin:10px;
    padding-top:150px;
    padding-bottom: 150px;
    padding-left: 30px;
    padding-right: 30px;
    background-image:url(Images/worldMapBanner.jpg);
    background-size: cover;
    border-radius: 1em;
    width:90%;
    opacity:.7; 
}

div.WorldMap:hover {
    opacity:1;
}

/*------------------------------------------------------*/
/*Destinations Page Formatting Is Here*-----------------*/
div.destinations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.continent {
    border: 1px  gray;
    text-align: center;
    width: 25%;
    padding: 50px;
    margin: 15px;
    /* background-image: url(Images/CentralAmericaCover.jpg); */
    background-size:cover;
    opacity: 0.8;
    border-radius: 1em;
}

#contlink {
    color: white;
    font-size:20px;
    font-style: bolder;
    font-family: 'Quicksand', sans-serif;
}

#contlink:hover {
    font-size:160%;
    font-style:oblique;
}

#northamerica {
    background-image: url(Images/NorthAmericaCover.jpg);
}

#centralamerica {
    background-image: url(Images/CentralAmericaCover.jpg);
}
#europe {
    background-image: url(Images/EuropeCover.jpg);
}
#middleeast {
    background-image: url(Images/MiddleEastCover.jpg);
}
#asia {
    background-image: url(Images/AsiaCover.jpg);
}
div.continent:hover {
    opacity: 1;
}
/*------------------------------------*/

@media (max-width : 750px){
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
}

